{% extends "base.html.twig" %}

{% block body %}
    <div class="art_container">
        {% for article in articles %}
            <div class="art">
                <div>
                    <h2>{{ article.title }}</h2>
                </div>
                <div>
                    <img src="{{ absolute_url(asset('uploads/ProfilePics/' ~ article.img )) }}" alt="">
                </div>
                <div>
                    <p>{{ article.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
